.classpath
.project
.settings
*.swp
*~
*.obj
*.exe
*.pdb
*.ilk
*.exp
target
jars
plugins
ThorlabsCamera/cam_NativeCamera.lib
Stage/stage_NativeMotor.lib
stage_NativeMotor.dll
cam_NativeCamera.dll
enumerate_serial.dll
enumerate_serial.lib
to_front.lib
to_front.dll
